@import-normalize;

body {
  margin: 0;
  font-family: var(--font-family);
  font-size: var(font-size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-text);
}

@import "common/variables";
@import "common/mixins";
@import "common/common";
@import "Layout/header";
@import "Search/search";
@import "User/user";
