.content,
.header__container {
  box-sizing: border-box;
  width: var(--width);
  max-width: 100%;
  padding: 24px;
  margin-left: auto;
  margin-right: auto;
}

.link {
  color: var(--color-link);
  transition: 0.25s color ease;
  text-decoration: underline;

  &:hover,
  &:focus {
    color: var(--color-link--hover);
  }

  &:active {
    text-decoration: none;
  }
}

.paragraph {
  margin-top: 0;
  margin-bottom: var(--spacing);
  font-size: var(font-size);
  line-height: 24px;
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  font-size: var(font-size);
}

.list__item {
  margin-bottom: var(--spacing);
  line-height: 24px;
}

.list__secondary-text {
  font-size: 14px;
}

.section {
  padding-bottom: 28px;

  &:not(:last-child) {
    margin-bottom: var(--section-spacing);
    border-bottom: 1px solid var(--color-section-separator);
  }
}

.section__heading {
  margin-bottom: var(--spacing);
  font-size: 24px;
  margin-top: 0;
}

.message {
  max-width: 400px;
  margin: 60px auto;
  font-size: 36px;
  text-align: center;
  font-style: italic;

  &--error {
    color: var(--color-error);
  }
}

.back-link {
  border: none;
  margin-right: 12px;
  background: none;
  cursor: pointer;

  &::before {
    content: "";
    display: inline-block;
    position: relative;
    top: 4px;
    @include arrow(var(--color-link), 12px, left);
    transition: 0.25s border-color ease;
  }

  &:hover::before {
    @include arrow(var(--color-link--hover), 12px, left);
  }
}

.back-link__label {
  @include visually-hidden;
}

.loading {
  height: 60px;
  margin-top: var(--spacing);
  margin-bottom: var(--spacing);
  font-size: 20px;
  line-height: 60px;
  padding-left: 72px;
  background-image: url(../img/icon-loading.svg);
  background-size: 60px 60px;
  background-position: left center;
  background-size: contain;
  background-repeat: no-repeat;
}
